<div class="main">
    <div id="video-section">
        <div style="text-align: center">
            <iframe height="315"
                    [src]="video.link|safe">
            </iframe>
        </div>
        <div>
            <h3 class="black">{{video.title}}</h3>
            <p style="display: inline-block;width: 50%">
                {{video.views}} vues • {{video.date}}
            </p>
            <p style="display: inline-block;width: 50%;text-align: right">
                <a class="link" [ngClass]="{clicked:video.liked}" (click)="addLikes()"><i class="fa fa-thumbs-up"></i> {{video.likes}}</a>
                <a (click)="addDislikes()" [ngClass]="{clicked:video.disliked}" class="link"><i class="fa fa-thumbs-down"></i> {{video.dislikes}}</a>
                <a href="#" class="link"><i class="fa fa-share"></i> PARTAGER</a>
            </p>
        </div>
    </div>
    <hr style="color: #eee">
    <div id="author-section">
        <div style="display: inline-block;width: 10%">
            <img [src]="video.author.image" class="author-image" alt="author-image">
        </div>
        <div style="display: inline-block;width: 70%;padding: 5px 10px">
            <h3 class="black">{{video.author.name}}</h3>
            <p class="black">{{video.description}}</p>
        </div>
        <div style="display: inline-block;width: 15%;vertical-align: top">
            <button (click)="handleSubscribe()" class="subscribe" [ngClass]="{subscribed:video.subscribed}">S'ABONNER</button>
            <i *ngIf="video.subscribed" style="display: inline-block;padding-left: 10px" class="fa fa-bell-o"></i>
        </div>
    </div>
    <hr style="color: #eee">
    <div id="comments-section">
        <h3>{{video.comments.length}} Commentaires</h3>
        <app-video-comment *ngFor="let c of video.comments" [comment]="c"></app-video-comment>
    </div>
</div>
