<div class="main">
    <div id="video-section">
        <div style="text-align: center">
            <iframe height="315"
                    src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
        </div>
        <div>
            <h3 class="black">Hello 2020</h3>
            <p style="display: inline-block;width: 50%">
                51 068 vues •13 janv. 2020
            </p>
            <p style="display: inline-block;width: 50%;text-align: right">
                <a href="#" class="link"><i class="fa fa-thumbs-up"></i> 2.3K</a>
                <a href="#" class="link"><i class="fa fa-thumbs-down"></i> 120</a>
                <a href="#" class="link"><i class="fa fa-share"></i> PARTAGER</a>
            </p>
        </div>
    </div>
    <hr>
    <div id="author-section">
        <div style="display: inline-block;width: 10%">
            <img src="./assets/author.jpeg" class="author-image" alt="author-image">
        </div>
        <div style="display: inline-block;width: 75%;padding: 5px 10px">
            <h3 class="black">Author name</h3>
            <p class="black">Video description</p>
        </div>
        <div style="display: inline-block;width: 10%">
            <button class="subscribe">S'ABONNER</button>
        </div>
    </div>
</div>
