.author-image{
  width: 60px;
  border-radius: 50%;
}
.black{
  color:#333;
}
.link{
  text-decoration: none;
  color: #909090;
  font-size: 18px;
  font-weight: 900;
  margin: 5px 15px;
  cursor: pointer;
}

.clicked{
  color:#065fd4 !important;
  cursor: auto !important;
}