<div style="margin-bottom: 10px" class="item">
    <div style="display: inline-block;height: 100%;margin: 3px;position: relative">
        <img class="item-image" src="./assets/author.jpeg" alt="">
        <span class="time">10:15</span>
    </div>
    <div style="display: inline-block;margin-right: 5px;vertical-align: top">
        <p class="item-title">{{video.title}}</p>
        <p>{{video.author.name}}</p>
        <p>{{video.views}} vues</p>
        <p *ngIf="video.recommanded">recommended for you</p>
        <p *ngIf="video.new">nouveau</p>
    </div>
</div>
