<div style="margin-bottom: 10px" class="item" (click)="selectVideo(video)" >
    <div style="display: inline-block;height: 100%;margin: 3px;position: relative;width: 40%;">
        <img class="item-image" [src]="video.image" alt="">
        <span class="time">{{video.time}}</span>
    </div>
    <div style="display: inline-block;margin-left: 15px;vertical-align: top;width: 50%">
        <p class="item-title">{{video.title}}</p>
        <p>{{video.author.name}}</p>
        <p>{{video.views}} vues</p>
        <p *ngIf="video.recommanded">recommended for you</p>
        <p *ngIf="video.new">nouveau</p>
    </div>
</div>
