.item{
  cursor: pointer;
}
.item-image{
  width: 150px;
}
.item-title{
  color: #333;
  font-weight: bold;
  font-size: 12px;
}
p{
  color:#909090;
  margin: 5px 0;
  font-size: 11px;
}
.time{
  background: #333333;
  color: #fff;
  bottom: 7px;
  position: absolute;
  right: -7px;
  padding: 0px 3px;
  font-size: 13px;
}